.header-list__option li i,
.header-list__option li a.click {
    color: #333;
}

/* -------- contain about us ----------- */
.contain-additional,
.contain-content {
    margin: 5rem 5rem 0 5rem;
}

.contain-content h3 {
    font-size: 2.6rem;
    font-weight: 500;
}

.contain-additional p,
.contain-content p {
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.contain-additional p span,
.contain-content p span {
    font-style: italic;
    font-weight: 600;
}

.contain-picture {
    margin: 5rem 0 5rem 0;
}

.picture-case {
    text-align: center;
}

.picture-case img {
    height: 500px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;

}

.picture-case img:hover {
    transform: scale(1.05);
}

.contain-additional .welcome {
    font-weight: 600;
}