h1 {
    text-align: center;
}

.formLogIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    height: 100vh;
}

.container-login {
    background-color: rgb(250, 235, 215);
    border-radius: 10px;
}

.user,
.password {
    text-align: center;
    padding: 10px;
}

.user {
    margin-top: 40px;
}

.user label,
.password label {
    font-size: 20px;
    margin-right: 10px;
}

.user input,
.password input {
    font-size: 20px;
    outline: none;
}

.password input {
    margin-left: 4px;
}

button {
    float: right;
    padding: 10px;
    margin: 10px;
}

.clear {
    clear: both;
}

.js-inp-check {
    border: 1px solid red;
}